<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="favicon.ico">
    {% block stylesheets %}
        {{ encore_entry_link_tags('bootstrap') }}
        <link rel="stylesheet" href="{{ asset('css/custom_login.css') }}">
    {% endblock %}

    <title>{% block title %}Chess training application!{% endblock %}</title>
    <!-- Latest compiled and minified JavaScript -->

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

<body>

<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top" role="navigation">
    <div class="container">
        <a class="navbar-brand" href="#">Chess training application</a>
        <button class="navbar-toggler border-0" type="button" data-toggle="collapse" data-target="#exCollapsingNavbar">
            &#9776;
        </button>
        <div class="collapse navbar-collapse" id="exCollapsingNavbar">
            <ul class="nav navbar-nav">
                <li class="nav-item"><a href="{{ path('homepage') }}" class="nav-link">Single puzzle</a></li>
                <li class="nav-item"><a href="{{ path('puzzle-streak') }}" class="nav-link">Puzzle streak</a></li>
            </ul>
            <ul class="nav navbar-nav flex-row justify-content-between ml-auto">
                <li class="px-3 py-2 menu_right">
                    {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                        <span> Logged as: {{ app.user.username|default('Not Logged') }} </span>

                        <a href="{{ path('profile') }}" class="btn btn-outline-secondary"><i class="fas fa-user"></i>
                            <span class="caret"></span></a>
                        <a href="{{ path('fos_user_security_logout') }}" class="btn btn-outline-secondary">Logout <span
                                    class="caret"></span></a>
                        </a>
                    {% else %}
                        <a href="{{ path('fos_user_security_login') }}">You are not logged. Click here to login</a>
                    {% endif %}
                </li>
            </ul>
        </div>
    </div>
</nav>

<div class="container">
    {% block content %}

    {% endblock %}
</div>

<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->

{% block javascripts %}
        {{ encore_entry_script_tags('jq') }}
{% endblock %}
</body>
</html>
