{% extends 'base.html.twig' %}

{% block content %}

    <div id="app">
    <input type="hidden" id="userId" value="{{ userId }}">
    <input type="hidden" id="puzzleId" value="">

    <div class="container">

      <div class="starter-template">
        <center>
            <h4> <div class="puzzleRankingBox"> Puzzle ranking:
                   <puzzle-ranking-component></puzzle-ranking-component>
                   <puzzle-ranking-difference-component></puzzle-ranking-difference-component>
                </div>
            </h4>
        </center>

          <div class="row">
              <div class="col-3">
                  <div class="card card_info card_info_upper">

                      <div class="card-body">
                          <h5> Your ranking: </br>
                              <player-ranking-component data-user-ranking="{{ userRanking }}"></player-ranking-component>
                              <player-ranking-difference-component></player-ranking-difference-component>
                          </h5>

                          <p>
                              <status-component>${statusValue}</status-component>
                              <progress-information-component></progress-information-component>
                          </p>

                      </div>
                  </div>

                  <div class="card card_info">

                      <div class="card-body card_body_graph">
                          <h6 class="user_ranking_header">User ranking history</h6>
                          <line-chart-container ref="graph"> </line-chart-container>
                      </div>
                  </div>

              </div>
              <div class="col-9">
                  <div id="board" style="width: 600px"></div>
              </div>
              </div>
              <div class="col">

              </div>
          </div>

     
        <div class="card card_info card_info_bottom">
          <div class="card-header">
            Actions
          </div>
          <div class="card-body">
            <next-position @getposition="getposition"> </next-position>
            <show-solution-component @showsolution="showsolution"></show-solution-component>
          </div>
        </div>

      </div>


    </div><!-- /.container -->
    </div>
{% endblock %}

{% block footer %}
									
									
{% endblock %}	

		{% block stylesheets %}
            {{ parent() }}
            {{ encore_entry_link_tags('app') }}
		{% endblock %}


		{% block javascripts %}
            {{ parent() }}

            <script src="{{asset('bundles/fosjsrouting/js/router.min.js') }}"></script>
            <script src="{{path('fos_js_routing_js', { callback: 'fos.Router.setData' }) }}"></script>

            {{ encore_entry_script_tags('chessLibraries') }}
            {{ encore_entry_script_tags('chessCustomLogic') }}
            {{ encore_entry_script_tags('helpers') }}
		{% endblock %}