{% extends 'base.html.twig' %}

{% block body %}
	
 <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">Chess training app</a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
            <li class="active"><a href="#">Strona główna</a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>

    <div class="container">

      <div class="starter-template">

        <center>
          <div id="board" style="width: 600px"></div>
        </center>

        <span id="status">

        </span>
      
      </div>


    </div><!-- /.container -->

{% endblock %}

{% block footer %}
									
									
{% endblock %}	

		{% block stylesheets %}
			<link rel="stylesheet" type="text/css" href="{{ asset('css/chessboard-0.3.0.css') }}" />
		{% endblock %}


		{% block javascripts %}
      <script src="{{asset('js/jquery.js')}}"></script>
			<script src="{{asset('js/chess.js')}}"></script>
      <script src="{{asset('js/chessboard-0.3.0.js')}}"></script>
      <script src="{{asset('js/chessboard_script.js')}}"></script>
		{% endblock %} 