{% extends 'base.html.twig' %}

{% block content %}
    <input type="hidden" id="userId" value="{{ userId }}">
    <input type="hidden" id="puzzleId" value="">

    <div class="container">

      <div class="starter-template">

        <center>
            <h4> <div class="puzzleRankingBox"> Puzzle ranking: <span id="puzzleRanking"> ? </span> </div> </h4>
        </center>

        <center>
          <div id="board" style="width: 600px"></div>
        </center>
     
        <div class="card card_info">
          <div class="card-header">
            Informacje
          </div>  
          <div class="card-body">
            <h4>Your ranking: <span id="userRanking">{{userRanking}}</span></h4>
            <span id="status">Status</span>
            <p id="progressInformation" class="card-text"></p>
            <a id="next_position" href="#" class="btn btn-primary">Next position <i class="fas fa-arrow-right"></i></a>
            <a id="show_solution_button" href="#" class="btn btn-primary">Show solution <i class="fas fa-info-circle"></i></a>
          </div>
        </div>

      </div>


    </div><!-- /.container -->

{% endblock %}

{% block footer %}
									
									
{% endblock %}	

		{% block stylesheets %}
      <link rel="stylesheet" type="text/css" href="{{ asset('css/chessboard-0.3.0.css') }}" />
			<link rel="stylesheet" type="text/css" href="{{ asset('css/custom.css') }}" />
		{% endblock %}


		{% block javascripts %}
            {{ parent() }}

            <script src="{{asset('js/chess.js')}}"></script>
            <script src="{{asset('js/chessboard-0.3.0.js')}}"></script>
            <script src="{{asset('js/loading_overlay.js')}}"></script>
            <script src="{{asset('bundles/fosjsrouting/js/router.min.js') }}"></script>
            <script src="{{path('fos_js_routing_js', { callback: 'fos.Router.setData' }) }}"></script>
            <script src="{{asset('js/chessboard_script.js')}}"></script>
		{% endblock %} 