{% extends 'base.html.twig' %}

{% block content %}

    <div>
    <input type="hidden" id="userId" value="{{ userId }}">
    <input type="hidden" id="puzzleId" value="">

    <div class="container">

      <div class="starter-template">

        <center>
            <h4> <div class="puzzleRankingBox"> Puzzle ranking:
                    <span id="puzzleRanking" v-html="puzzleRanking"> ?
                    </span>
                    <span id="puzzleRatingDifference" v-html="puzzleRatingDifference">

                    </span>
                </div>
            </h4>
        </center>

        <center>
          <div id="board" style="width: 600px"></div>
        </center>
     
        <div class="card card_info">
          <div class="card-header">
            Informacje
          </div>  
          <div class="card-body">
            <h4>Your ranking:
                <span id="userRankingValue" v-html="userRankingValue" data-user-ranking="{{ userRanking }}">

                </span>
                <span id="playerRatingDifference" v-html="playerRatingDifference">

                </span>
            </h4>
            <span id="status" v-html="status">Status</span>
            <p id="progressInformation" v-html="progressInformation" class="card-text"></p>
            <a id="next_position" href="#" class="btn btn-primary">Next position <i class="fas fa-arrow-right"></i></a>
            <a id="show_solution_button" href="#" class="btn btn-primary" v-if="showSolution">Show solution <i class="fas fa-info-circle"></i></a>
          </div>
        </div>

      </div>


    </div><!-- /.container -->
    </div>
{% endblock %}

{% block footer %}
									
									
{% endblock %}	

		{% block stylesheets %}
            {{ parent() }}
		{% endblock %}


		{% block javascripts %}
            {{ parent() }}

            <script src="{{asset('bundles/fosjsrouting/js/router.min.js') }}"></script>
            <script src="{{path('fos_js_routing_js', { callback: 'fos.Router.setData' }) }}"></script>

            {{ encore_entry_script_tags('chessLibraries') }}
            {{ encore_entry_script_tags('chessCustomLogic') }}
            {{ encore_entry_script_tags('helpers') }}
		{% endblock %}