{% extends 'base.html.twig' %}

{% block content %}
    <div class="container">

      <div class="starter-template">

        <center>
          <div id="board" style="width: 600px"></div>
        </center>
     
        <div class="card card_info">
          <div class="card-header">
            Informacje
          </div>
          <div class="card-body">
            <h5 class="card-title">Your ranking: {{userRanking}}</h5>
            <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
            <a id="next_position" href="#" class="btn btn-primary">Next position </a>
          </div>
        </div>

      </div>


    </div><!-- /.container -->

{% endblock %}

{% block footer %}
									
									
{% endblock %}	

		{% block stylesheets %}
      <link rel="stylesheet" type="text/css" href="{{ asset('css/chessboard-0.3.0.css') }}" />
			<link rel="stylesheet" type="text/css" href="{{ asset('css/custom.css') }}" />
		{% endblock %}


		{% block javascripts %}
      <script src="{{asset('js/jquery.js')}}"></script>
			<script src="{{asset('js/chess.js')}}"></script>
      <script src="{{asset('js/chessboard-0.3.0.js')}}"></script>
      <script src="{{asset('js/chessboard_script.js')}}"></script>
		{% endblock %} 