{% extends 'base.html.twig' %}

{% block content %}
    <div class="row outer-box">
        <div class="col-12">
            <div class="card">

                <div class="card-body">
                    <div class="card-title mb-4">
                        <div class="d-flex justify-content-start">
                            <div class="image-container">
                                <img src="http://placehold.it/150x150" id="imgProfile" style="width: 150px; height: 150px" class="img-thumbnail" />
                            </div>
                            <div class="userData ml-3">
                                <h2 class="d-block" style="font-size: 1.5rem; font-weight: bold"><a href="javascript:void(0);">{{user.username}}</a></h2>
                                <h6 class="d-block">{{ puzzlesSolved }} Puzzles solved</h6>
                             </div>
                            <div class="ml-auto">
                                <input type="button" class="btn btn-primary d-none" id="btnDiscard" value="Discard Changes" />
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-12">
                            <nav>
                                <div class="nav nav-tabs" id="nav-tab" role="tablist">
                                    <a class="nav-item nav-link active" id="nav-home-tab" data-toggle="tab" href="#nav-home" role="tab" aria-controls="nav-home" aria-selected="true">Home</a>
                                    <a class="nav-item nav-link" id="nav-profile-tab" data-toggle="tab" href="#nav-profile" role="tab" aria-controls="nav-profile" aria-selected="false">Statistics</a>
                                </div>
                            </nav>
                            <div class="tab-content" id="nav-tabContent">
                                <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
                                    <ul class="list-group list-group-flush">
                                        <li class="list-group-item"><b>Username</b>: {{ user.username }}</li>
                                        <li class="list-group-item"><b>Email</b>: {{ user.email }}</li>
                                     </ul>
                                </div>
                                <div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">

                                </div>
                            </div>

                        </div>
                    </div>


                </div>

            </div>
        </div>
    </div>

{% endblock %}

{% block footer %}


{% endblock %}

		{% block stylesheets %}
			<link rel="stylesheet" type="text/css" href="{{ asset('css/custom-profile.css') }}" />
		{% endblock %}


		{% block javascripts %}
            {{ parent() }}
		{% endblock %}